apiVersion: v1
kind: Service
metadata:
  name: order-service-nodeport
  labels:
    app: order-service
spec:
  type: NodePort
  ports:
  - port: 8002
    targetPort: 8002
    protocol: TCP
    name: http
    nodePort: 30002
  selector:
    app: order-service

