apiVersion: v1
kind: Service
metadata:
  name: user-service-nodeport
  labels:
    app: user-service
spec:
  type: NodePort
  ports:
  - port: 8003
    targetPort: 8003
    protocol: TCP
    name: http
    nodePort: 30003
  selector:
    app: user-service

